    ██████╗ ██╗  ██╗███████╗██╗          █████╗
    ██╔══██╗██║  ██║██╔════╝██║         ██╔══██╗
    ██████╔╝███████║█████╗  ██║         ╚█████╔╝
    ██╔══██╗██╔══██║██╔══╝  ██║         ██╔══██╗
    ██║  ██║██║  ██║███████╗███████╗    ╚█████╔╝
    ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝     ╚════╝

  => Login with: vagrant:vagrant or root:vagrant <=
